<h1>Welcome to Anagrams</h1>
<form action="/sort">
  <div class="form-group">
     <label for="sort">What words would you like to compare?
</label>
     <input id="sort" name="sort" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
