<h1>Welcome to Anagrams</h1>
<form action="/sort">

  <div class="form-group">
     <label for="sort">Enter a word.</label>
     <input id="sort" name="sort" class="form-control" type="text">
  </div>


  <div class="form-group">
     <label for="compare">Enter a word to compare.</label>
     <input id="compare" name="compare" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Send</button>
</form>
